.btn{
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: 2px solid $primary-color;
    border-radius: 0;
    background: none;
    width: 100%;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -ms-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;

    &.btn-lg{
        border-radius: 0;
        font-size: 1.5rem !important;
    }

    &:hover, &:active, &:focus{
        color: white;
    }

    &.btn-primary{
        background: none;
        border: 2px solid $primary-color;

        &.btn-invert{
            background: $primary-color;
        }

        &:hover, &:active, &:focus{
            //background: $primary-color-dark;
            transform: scale(1.03);
        }
    }

    &.btn-secondary{
        background: $secondary-color;

        &:hover, &:active, &:focus{
            background: $secondary-color-dark;
        }
    }

    &.btn-link{
        color: $brand-info;
    }

    &.btn-round{
        -webkit-border-radius: 5rem;
        -moz-border-radius: 5rem;
        border-radius: 5rem;
    }

    &.btn-padded{
        padding: 1rem 2rem;
    }

    &.btn-lg{
        font-size: 2rem;
        padding: 1.5rem 4rem;
        font-weight: 400;
    }
}

.share-buttons{
    a{
        display: inline-block;
        margin: 1rem;
        > img{
            height: 50px;
            width: 50px;
        }
    }
}

@media (min-width: $screen-tablet){
    .btn{
        width: auto;
    }
}