.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    margin: 0 auto;
    padding: 20px 30px 10px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
}

.modal-header {
    border: none;
    padding-bottom: 0;

    h2 {
        color: $primary-color;
        margin: 0;
        line-height: initial;
        text-transform: uppercase;
        letter-spacing: 0.7rem;
    }
}

.modal-body {
    color: #636363;
    border: none;
    margin: 0;
    max-height: 200px;
    overflow: auto;
}

.modal-footer{
    padding: 2rem 0 0;
}

.modal-hero{
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
}

.modal-close{
    position: relative;
    float: right;
    top: 1rem;
    right: 0;
    height: 40px;
    width: 40px;
    cursor: pointer;

    > span{
        display: block;
        position: absolute;
        height: 4px;
        top: 1.8rem;
        width: 100%;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

    > span:first-of-type{
        background: $primary-color-bright;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    > span:last-of-type{
        background: $primary-color-dark;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

.modal-enter{
    .modal-hero{
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    .modal-close{
        height: 25px;
        width: 25px;
        position: relative;

        > span{
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media (min-width: 768px) {
    .modal-body{
        max-height: inherit;
    }

    .modal-hero {
        height: 250px;
    }

    .modal-close{
        right: 2rem;
    }
}