.tile-grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .project-tile{
        position: relative;
        display: inline-block;
        background: #ffffff center center;
        -webkit-background-size: cover;
        background-size: contain;
        background-repeat: no-repeat;
        height: 240px;
        overflow: hidden;
        cursor: pointer;


        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(36, 18, 16, 1) 100%);
            background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(36, 18, 16, 1) 100%);
            -webkit-transform: translate3d(-15px,50%,0);
            transform: translate3d(-15px,50%,0);
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;

            h3{
                position: absolute;
                text-align: left;
                text-transform: uppercase;
                padding-left: 2rem;
                margin: 0 auto;
                font-family: $font-family-heading;
                letter-spacing: 0.5rem;
                font-size: 3rem;
                line-height: 3rem;
                opacity: 0;
                color: $primary-color-dark;
                -webkit-transition: -webkit-transform 0.35s, opacity 0.35s;
                transition: transform 0.35s, opacity 0.35s;
                -webkit-transform: translate3d(-2rem, 2rem,0);
                transform: translate3d(-2rem, 2rem, 0);
            }

            ul{
                position: absolute;
                opacity: 0;
                bottom: 1.2rem;
                text-align: left;
                padding-left: 2rem;
                -webkit-transform: translate3d(2rem,10px,0);
                transform: translate3d(2rem,10px,0);
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;

                li{
                    color: $primary-color-bright;
                    margin: 0;
                    list-style: none;
                    text-transform: uppercase;
                    font-family: $font-family-sans-serif;
                    letter-spacing: 0.3rem;
                    font-size: 1.3rem;
                }
            }
        }

        &:hover {
            .overlay{
                opacity: 1;
                -webkit-transform: translate3d(-15px, 0, 0);
                transform: translate3d(-15px, 0, 0);
            }

            ul{
                opacity: 1;
                -webkit-transform: translate3d(2rem, 0, 0);
                transform: translate3d(2rem, 0, 0);
            }

            h3 {
                opacity: 1;
                -webkit-transform: translate3d(1rem, 2rem,0) translate3d(1rem, 2rem,0);
                transform: translate3d(1rem, 2rem,0) translate3d(1rem, 2rem,0);
            }
        }

        &.tile-info{
            cursor: auto;
            background: none;
            display: table;

            > .content{
                text-align: center;
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}
