@font-face {
    font-family: 'Fissure';
    src: url('../fonts/fissure.ttf');
}

h1, h2, h3, h4, h5{
    font-family: $font-family-heading;
    font-size: $font-size-base;
    line-height: $line-height-base;
}

h1{
    color: $primary-color-bright;
    font-size: 5rem;
    margin: 1rem 0;
    font-weight: 700;
    display: inline-block;
    line-height: 5rem;
    letter-spacing: 0.75rem;
    text-transform: uppercase;
}

h2{
    color: $primary-color-dark;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 500;
    margin: 1.5rem 0 1.5rem;
}

h3{
    color: $primary-color;
    font-size: 3rem;
    margin: 1rem 0;
}

h4{
    font-size: 2.5rem;
    color: $text-color-dark;
}

h5{
    font-size: 2rem;
    letter-spacing: 0.25rem;
    color: $primary-color;
}

.text-focus{
    color: $secondary-color;
    font-weight: 700;
}

.text-subheader{
    margin-top: -0.5rem;
}

.divider-fade{
    display: block;
    border: none;
    width: 70%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: $primary-color;
    height: 1px;
    margin: 1rem auto;
    background: $primary-color;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 200, from($primary-color), to(#241210));
    //border-color: $primary-color;
}